<footer class="mt-5" id="footer">
    <div class="container">
      <h3>Diego Santos</h3>
      <p>Obrigado! :D.</p>
      <div class="social-links">
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bi-whatsapp"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Diego</span></strong>. Todos os direitos reservados
      </div>
      <p>Desenvolvido com Angular</p>
     
</div>
</footer>
