<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center row text-center" *ngIf="tool">
        <h3 class="col-sm-12">Detalhes - {{tool.projectName}}</h3>
        <ol class="text-center">
          <li ><a href="#home">Inicio</a></li>
          <li ><a href="#portfolio">Portfolio</a></li>
          <li >Navegação</li>
        </ol>
      </div>

    </div>
  </section><!-- Breadcrumbs Section -->


  <section id="portfolio-details" class="portfolio-details" *ngIf="tool">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class=" swiper-wrapper align-items-center">

              <div [class.template]="tool.gif == '' " class="swiper-slide d-flex align-items-center justify-content-center">
                <img [src]="tool.gif" alt="">
              </div>



            </div>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="portfolio-info">

            <ul>
              <li>Categoria: {{tool.category}}</li>
              <li>Data do Projeto: {{tool.projectDate}}</li>
              <li>Link do Projeto: <a target="_blank" [href]="tool.projectUrl">{{tool.projectUrl}}</a></li>
              <li>GitHub do Projeto: <a [href]="tool.github">{{tool.github}}</a></li>
              <li>Tecnologias: <i>{{tool.technologies_1}},  {{tool.technologies_2}},  {{tool.programmingLanguage}}</i> </li>
              <div class="portfolio-description">
                <h5>Sobre o Projeto</h5>
                <p>
                  {{tool.fullDescription}}
                </p>
              </div>
            </ul>
            <a type="button" href="#portfolio" class="btn btn-link">Voltar</a>
            <br>
           <a rel="noopener" target="_blank" href="https://github.com/DiegojSts">Resumo GitHub!</a>
          </div>


        </div>


      </div>

    </div>
  </section><!-- End Portfolio Details Section -->
