<!-- ======= About Me Section ======= -->

<section id="about">
  <div class="section-title">
    <span>Sobre</span>
    <h2>Sobre</h2>
    
  </div>

  <div class="row avatar-row d-flex ">
    <div class="paragraph-cover d-flex justify-content-center">
      <div class="paragraph-title text-light text-center mt-5">
        <p>Sou apaixonado por programação e tecnologia, sempre tive curiosidade para aprender sobre diversos temas e
          pude encontrar na tecnologia grandes desafios e infindáveis possibilidades! Estou sempre em busca de
          aprimoramento dos meus conhecimentos através de cursos, workshops, livros, etc. </p>
      </div>
    </div>
    <div class="col-lg-12 d-flex align-items-center">
      <div class="row col-lg-12 d-flex justify-content-center ">

        <div class="col-lg-4 d-flex justify-content-center mb-3">
          <img class="img-fluid rounded-circle" src="../../assets/img/avatar.svg">
        </div>
        
        <div class="col-lg-4 text-light">
          <ul class=" ">
            <li><i class="bi bi-chevron-right"></i> <strong> Nome:</strong> <span> Diego Santos</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong> Telefone:</strong> <span> +55 71 9 9350-7284</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong> Cidade:</strong> <span> Salvador</span></li>
          </ul>
        </div>
        <div class="col-lg-4 text-light ">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong> Gradução:</strong> <span> Tecnólogo</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong> E-mail:</strong> <span> diegojs03@hotmail.com</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong> Freelance:</strong> <span> Disponível</span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section><!-- End About me -->