@import "~bootstrap-icons/font/bootstrap-icons.css";

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title span {
    position: absolute;
    top: 60px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 40px 0;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

li {
    list-style: none;
}

@media (min-width: 300px) and (max-width: 580px) { 
    .div-col-1{
        display: flex;
        justify-content: start !important;
    }
 }



