.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar li:hover>a {
    color: #ffb727;
}

.navbar-glass {
    z-index: 1;
    position: fixed;
    background: rgb(0 0 0 / 20%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: none;
    width: 100vw;
}