.portfolio #portfolio-filters {
    list-style: none;
    margin-bottom: 20px;
  }

  .portfolio #portfolio-filters li {
    cursor: pointer;
    margin: -16px 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 12px 10px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 2px;
  }



.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters, h5 {
  color: #ffffffda;
}

.portfolio-bg {
  background-color: #484a4e;
}

.active {

  /* border-bottom: 7px solid #bb86fc !important; */
  background-color: white;
  transform: rotate(-12deg);
  transition: all 1s ease-in-out;
  color: #000000 !important;




}

.active::before {
  content: " ↠ ";
  margin-left: 10px;
  border-radius: 50%;
  padding-top: 200px;
  color: #000000;

}

img {
  width: 109%;
}


.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}


.btn-background {
  background-color: #444444;
  color: #ffffff;
}

.btn-background:hover {
  background-color: #ffb727;
}

.card-bx {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}





.display {
  display: none;
}


.card-text {
  color: #ffffff;
}

i {
  color: #bb86fc;
}

.card {
  cursor: default;
  background-color: #151515;
  font-family: 'Source Code Pro', monospace;
  display: grid;
  transform: scale(1);
  opacity: 1 !important;
  transition: all 150ms ease-in-out;

}
.container {
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
}


.card:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: solid 2px #bb86fc;



}


.cards:hover  {
  transform: rotate(12deg);
  border: solid 2px #bb86fc;
  background-color: #151515;
  border-radius: 5px;
  transition: all ease-in-out 0.8s;


}

.cards:hover > .card:not(:hover){
  opacity: 0.5;


}






@media (min-width: 300px) and (max-width:991px) {
  #portfolio-filters li {
    display: inline-block;
    text-align: left;
  }

  .ul-options {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
  }

  .active{
    transform: rotate(0);
    background-color: #484a4e ;

  }

  .card {
    margin-left: 2px !important ;
  }


}
