<!-- ======= Portolio Section ======= -->

<section id="portfolio" class="portfolio">
    <div class="section-title">
        <span>Portfólio</span>
        <h2>Portfólio</h2>

    </div>
    <section class="container">

        <ul id="portfolio-filters" class="d-flex justify-content-center">
            <div class="">
                <li class="" data-filter=".filter-all" >Todos</li>
                <li class="" data-filter=".filter-web">CSS, HTML, JavaScript</li>
                <li class="" data-filter=".filter-web">Angular</li>
                <li class="" data-filter=".filter-node">Node</li>
                <li class="" data-filter=".filter-node">Java</li>
            </div>

        </ul>


    </section>


    <router-outlet></router-outlet>
    <section class="d-flex container">
        <div class="portfolio-container " *ngFor="let item of items">
            <div class="">
                <div class="">
                    <div class="container card m-2" style="width: 18rem;">
                        <picture class=" d-flex align-items-center justify-content-center">
                            <img class="card-img-top" [src]="item.mainImageUrl" alt="Card image cap">
                        </picture>
                        <div class="col-sm-12 card-body ">
                            <h5 class="card-title">Projeto: {{item.projectName}}</h5>
                            <h6><i>{{item.programmingLanguage}}, {{item.technologies_1}},
                                    {{item.technologies_2}}</i></h6>
                            <p class="card-text">{{item.shortDescription}}</p>
                            <a (click)="status()" [routerLink]="['/portfolio-details', item.id]"
                                class="btn btn-background">Detalhes</a>
                        </div>
                    </div>


                </div>

            </div>



            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="../../assets/img/background.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div> -->


        </div>
    </section>


</section>