.portfolio #portfolio-filters {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .portfolio #portfolio-filters li {
    cursor: pointer;
    margin: 0 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 10px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid;
  }

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters, h5 {
  color: #f3a200;
}

.active {
  color: #f3a200 !important;
  border-bottom: 7px solid #f3a200 !important;
 
}

img {
  width: 109%;
}
.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}

.portfolio-info {
  color: red;
  position: absolute;
}

.btn-background {
  /* background-color: #ffb727; */
  background-color: #444444;
  color: #ffffff;
}

.btn-background:hover {
  background-color: #ffb727;
}

.card-bx {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}


.ul-options {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  width: 60%;
}

.display {
  display: none;
}

@media (min-width: 300px) and (max-width:767px) {
  #portfolio-filters li {
    display: inline-block;
    text-align: left;
  }
}