<!-- ======= Resume Section ======= -->

<section id="resume">
    <div class="container">
        <div class="section-title">
            <span>Currículo</span>
            <h2>Currículo</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Resumo</h3>
                <div class="resume-item pb-0">
                    <h4>DIEGO SANTOS</h4>
                    <p><em>Desenolvedor Fullstack com conhecimento em construção de aplicações <strong>Backend</strong>
                            em <strong>Java 8+</strong> com <strong>Spring Boot</strong> e <strong>Angular</strong>.</em></p>
                    <p>
                </div>

                <h3 class="resume-title">Educação</h3>
                <div class="resume-item">
                    <h4>Universidade Salvador (UNIFACS)  </h4>
                    <p><em>Análise e Desenvolvimento de Sistemas, Salvador, BA</em></p>
                    <h5>2021 - 2023 [Cursando]</h5>

                    <!-- <p>O curso de <strong>Análise e Desenvolvimento de Sistemas</strong> é focado em Sistemas
                        Computacionais. Com essa formação você aprenderá a analisar, projetar, desenvolver, testar,
                        manter e gerenciar sistemas tecnológicos de informação.</p> -->
                    <!-- <h6 class="m-1">Java</h6>
                    <h6 class="m-1">Banco de Dados</h6>
                    <h6 class="m-1">Arquitetura de Software</h6>
                    <h6 class="m-1">Qualidade de Software</h6>
                    <h6 class="m-1">Desenvolvimento Web</h6> -->
                </div>
                <div class="resume-item">
                    <h4>Faculdade de Tecnologia SENAI Cimatec</h4>
                    <p><em>Técnico em Desenvolvimento de Sistemas, Salvador, BA</em></p>
                    <h5>2019 - 2020 [Concluído]</h5>
                    <!-- <p>O curso habilita profissionais técnicos de nível médio em Desenvolvimento de Sistemas, visando
                        suprir a demanda do mercado por profissionais qualificados para atuarem em programação e
                        desenvolvimento de software.</p> -->
                    <!-- <h6 class="m-1">Java</h6>
                    <h6 class="m-1">Typescript</h6>
                    <h6 class="m-1">Scrum</h6>
                    <h6 class="m-1">Construção de API</h6>
                    <h6 class="m-1">Selenium</h6> -->
                </div>
                <h3 class="resume-title">Educação Complementar</h3>
                <div class="resume-item">
                    <h4>Bootcamp Start Capgemini</h4>
                    <p><strong>Trilha Java</strong></p>
                    <p>O Start by Capgemini É uma iniciativa com foco na formação de talentos que tenham interesse em ingressar na área de tecnologia, promovendo inclusão e a diversidade.
                        </p>
                    <h6 class="m-1">Algoritmos I, II e III</h6>
                    <h6 class="m-1">Lógica de Programação</h6>
                    <h6 class="m-1">Java</h6>
                    <h6 class="m-1">POO</h6>


                </div>
                <div class="resume-item">
                    <h4>MICHIGAN UNIVERSITY</h4>
                    <p class="mt-2"><strong>Desenvolvimento Web</strong></p>
                    <p>Esta especialização abrange os fundamentos do desenvolvimento web moderno, desde o design de UX até a codificação de front-end e bancos de dados.</p>
                    <h6 class="m-1">Bootstrap</h6>
                    <h6 class="m-1">CSS Media Querys</h6>
                    <h6 class="m-1">HTML, CSS & JavaScript</h6>

                </div>
                <div class="resume-item">
                    <h4>Pluralsight</h4>
                    <p><strong>Angular</strong></p>
                    <p>Esta especialização abrange os fundamentos do desenvolvimento web com Angular.</p>
                    <h6 class="m-1">RxJs</h6>
                    <h6 class="m-1">Angular Forms</h6>
                    <h6 class="m-1">Typescript</h6>
                    <h6 class="m-1">HTTP</h6>



                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Experiência Profissional</h3>
                <div class="resume-item">
                    <h4>Analista de Sistemas</h4>
                    <!-- <p><em>Capgemini, Salvador, BA </em></p> -->
                    <h5 class="m-1 company">Capgemini</h5>
                    <h5>2020 - Atual</h5>
                    <h5 class="m-1">Tecnologia, Grande Porte, Francesa</h5>
                    <span></span>
                    <p>
                    <ul>
                        <li>Configuração, manutenção e implementação da aplicação e serviço de mensageria do
                            McDonalds a nível nacional.</li>
                        <li>Desenvolvimento de automações com JavaScript e Shell Script. </li>
                    </ul>
                    <h6 class="m-1">Node.Js</h6>
                    <h6 class="m-1">Shell Script</h6>
                    <h6 class="m-1">Windows</h6>
                    <h6 class="m-1">Configuração de Sistemas</h6>

                </div>
                <div class="resume-item">
                    <h4>Desenvolvedor Java</h4>
                    <h5 class="m-1 company">Technobattery Systems</h5>
                    <h5>2019 - 2020</h5>
                    <h5 class="m-1">Baterias, Pequeno Porte, Brasileira</h5>
                    <!-- <p><em>Technobattery Systems, Salvador, BA</em></p> -->
                    <p>
                    <ul>
                        <li>Desenvolvimento & Manutenção de aplicaçãção desktop com Java Swing e MySql.</li>
                        <li>Desenvolvimento com Scrum</li>
                        <li>Levantamento de requisitos</li>
                        <li>Modelagem de dados</li>
                    </ul>
                    <h6 class="m-1">Java 11</h6>
                    <h6 class="m-1">MySql</h6>
                    <h6 class="m-1">Scrum</h6>

                </div>
                <!-- <div class="resume-item">
                    <h4>Auxiliar Administrativo</h4>
                    <h5 class="m-1 company">Força Aérea Brasileira</h5>
                    <h5>2016 - 2020</h5>
                    <h5 class="m-1">Aviação, Grande Porte, Brasileira</h5>
                    <p><em>Força Aérea Brasileira, Salvador, BA</em></p>
                    <p>
                    <ul>
                        <li>Confecção de planilhas excell e documentos, bem como digitalização dos mesmos.</li>
                        <li>Confecção de relatórios e organização de arquivos.</li>
                    </ul>
                    <h6 class="m-1">Microsoft Excell</h6>
                    <h6 class="m-1">Microsoft Word</h6>

                </div> -->
                <div class="col-lg-8">
                    <h3 class="resume-title">Idiomas</h3>
                    <div class="resume-item">
                        <p><strong>Inglês [Avançado]</strong></p>
                        <h5 class="m-1">Leitura </h5>
                        <h5 class="m-1">Escrita </h5>
                        <h5 class="m-1">Conversação </h5>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
