
<!-- ======= Presentation Section ======= -->
<section id="presentation" class="presentation d-flex justify-content-center align-items-center flex-column">

  <h1>Diego Santos</h1>
  <section class="d-flex p-1">
      <i class="bi bi-star-fill m-3 p-1"></i>
      <i class="bi bi-star-fill m-3 p-1 "></i>
      <i class="bi bi-star-fill m-3 p-1"></i>
      <i class="bi bi-star-fill m-3 p-1"></i>
      <i class="bi bi-star-fill m-3 p-1"></i>
  </section>

  <h2>Desenvolvedor Fullstack</h2>

  <a href="#about" class="btn-scroll scrollto mt-3" title="Scroll Down"><i class="bi bi-chevron-down bi-icon bi-icon-movement"></i></a>
</section><!-- End Presentation Section -->



 



