@import "~bootstrap-icons/font/bootstrap-icons.css";

.presentation {
  color: white;
  top: 9.3%;
  width: 100vw;
  height: 80vh;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: none;
  z-index: -1;
}

.presentation h1 {
  font-size: 4.5em;
  font-family: "Satisfy", serif;
  color: #fff;
  text-align: center;

}

.presentation h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 1.8em;
  font-family: "Satisfy", serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;

}


#presentation {
  background-image: url("../../assets/img/background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

}

/* -==== Icon ====- */

.bi-icon {
  font-size: 40px;
  color: #fff;

}

.bi-icon:hover {
  color: #ffb727;
}

.bi-icon-movement {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (min-width: 273px) and (max-width: 984px) {
  #presentation {
    background-image: url("../../assets/img/background.jpeg");
    background-size: 300%;
    
    background-repeat: no-repeat;
    
  }
}

